/OpenGL_001.VC.db
/OpenGL_001.VC.VC.opendb
/Debug
/Debug/main.obj
/Debug/OpenGL_001.exe
/Debug/OpenGL_001.ilk
/Debug/OpenGL_001.log
/Debug/OpenGL_001.pdb
/Debug/vc140.idb
/Debug/vc140.pdb
/Debug/glad.obj
